{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="nk-main">
  <div class="nk-gap-2"></div>
  <!-- START: Breadcrumbs -->
  {% include 'base/breadcrumbs_component.html' %}
  <!-- END: Breadcrumbs -->
  <div class="container">
    
    <!--START: Recent Updates-->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Developer</span> Profile</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">
      <div class="col-lg-12">
        <div class="nk-box-2 bg-dark-2">
          <div class="row nk-blog-post-border-bottom">
            <div class="col-lg-3 d-flex justify-content-center align-items-center col-md-3 my-4">
              <img src="{{ profile.profile_pic.url }}" alt="Profile" class="rounded-circle w-100">
            </div>
            <div class="col-lg-9 col-md-9">
              <h1 class="text-main-1">{{profile.user.developer.developer_name}}</h1>
              <h3>{{profile.user.username}}</h3>
							<p><strong>{{profile.full_name}}</strong></p>
              <p>Joined on, {{profile.user.date_joined}}</p>
              {% if curUser == profile.user %}
              <a href="{% url 'profile-edit' %}" class="nk-btn nk-btn-sm nk-btn-rounded nk-btn-color-white">Edit Profile</a>
              {% endif %}
            </div>
          </div>
          <div>
            <h3>About Us</h3>
            <p class="text-white">{{profile.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--END: Recent Updates-->
    <!-- START: Latest News -->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Manage</span> Games</span></h3>
    <div class="nk-gap"></div>
    <div class="container">
      <!-- START: Tabs  -->
      <div class="nk-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">Pending Approval</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">Upload Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-4" role="tab" data-toggle="tab">Transactions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
            <div class="nk-gap"></div>
            <!--START: Game List-->
            <div class="nk-news-box">
              <div class="nk-news-box-list">
								<div class="nano has-scrollbar">
									<div class="nano-content">
										{% for game in games %}
										<div class="nk-news-box-item">
											<div class="nk-news-box-item-img">
												<img src="{% static 'assets/images/post-1-sm.jpg' %}" alt="Smell magic in the air. Or maybe barbecue">
											</div>
											<img src="{% static 'assets/images/post-1.jpg' %}" alt="Smell magic in the air. Or maybe barbecue" class="nk-news-box-item-full-img">
											<h3 class="nk-news-box-item-title"><a href="{% url 'store-product' game.id %}" class="text-white">{{game.name}}</a></h3>
											<span class="nk-news-box-item-categories">
                        {% if game.verified %}
                        <span class="bg-main-1">Verified</span>
                        {% else %}
                        <span class="bg-main-6">Not Verfied</span>
                        {% endif %}
											</span>
											<div class="nk-news-box-item-text">
												<div>
													<p>{{game.description}}</p>
													<strong>Genres</strong>: <a href="{% url 'store-search'%}?q={{game.genres.first.name}}">{{game.genres.first}}</a>{% for genre in game.genres.all|slice:"1:" %}, <a href="{% url 'store-search'%}?q={{genre.name}}">{{genre.name}}</a>{% endfor %} 
												</div>
											</div>
											<a href="{% url 'store' %}" class="nk-news-box-item-url">Update</a>
											<div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> {{game.created|date:"d, F, Y"}}</div>
										</div>
										{% endfor %}
									</div>
								</div>
              </div>
              <div class="nk-news-box-each-info">
                <div class="nano ">
                  <div class="nano-content">
                    <!-- There will be inserted info about selected news-->
                    <div class="nk-news-box-item-image">
                      <img src="{% static 'assets/images/post-1.jpg' %}" alt="">
                      <span class="nk-news-box-item-categories">
                      <span class="bg-main-4"></span>
                      </span>
                    </div>
                    <h3 class="nk-news-box-item-title">Select Game</h3>
                    <div class="nk-news-box-item-text">
                      <p></p>
                    </div>
                    <a href="blog-article.html" class="nk-news-box-item-more">Edit</a>
                    <div class="nk-news-box-item-date">
                      <span class="fa fa-calendar"></span> --, --, --
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END: Game List-->
            <div class="nk-gap"></div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
            <div class="nk-gap"></div>
            <!--START: Pending Game List-->
            <div class="nk-news-box">
              <div class="nk-news-box-list">
								<div class="nano has-scrollbar">
									<div class="nano-content">
										{% for game in pending %}
										<div class="nk-news-box-item">
											<div class="nk-news-box-item-img">
												<img src="{% static 'assets/images/post-1-sm.jpg' %}" alt="Smell magic in the air. Or maybe barbecue">
											</div>
											<img src="{% static 'assets/images/post-1.jpg' %}" alt="Smell magic in the air. Or maybe barbecue" class="nk-news-box-item-full-img">
											<h3 class="nk-news-box-item-title"><a href="{% url 'store-product' game.id %}" class="text-white">{{game.name}}</a></h3>
											<span class="nk-news-box-item-categories">
                        <span class="bg-main-6">Not Verfied</span>
											</span>
											<div class="nk-news-box-item-text">
												<div>
													<p>{{game.description}}</p>
													<strong>Genres</strong>: <a href="{% url 'store-search'%}?q={{game.genres.first.name}}">{{game.genres.first}}</a>{% for genre in game.genres.all|slice:"1:" %}, <a href="{% url 'store-search'%}?q={{genre.name}}">{{genre.name}}</a>{% endfor %} 
												</div>
											</div>
											<a href="{% url 'store' %}" class="nk-news-box-item-url">Update</a>
											<div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> {{game.created|date:"d, F, Y"}}</div>
										</div>
										{% endfor %}
									</div>
								</div>
              </div>
              <div class="nk-news-box-each-info">
                <div class="nano ">
                  <div class="nano-content">
                    <!-- There will be inserted info about selected news-->
                    <div class="nk-news-box-item-image">
                      <img src="{% static 'assets/images/post-1.jpg' %}" alt="">
                      <span class="nk-news-box-item-categories">
                      <span class="bg-main-4"></span>
                      </span>
                    </div>
                    <h3 class="nk-news-box-item-title">Select Game</h3>
                    <div class="nk-news-box-item-text">
                      <p></p>
                    </div>
                    <a href="blog-article.html" class="nk-news-box-item-more">Edit</a>
                    <div class="nk-news-box-item-date">
                      <span class="fa fa-calendar"></span> --, --, --
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END: Pending Game List-->
            <div class="nk-gap"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
            <div class="nk-gap"></div>
            <form method="POST" class="nk-form" novalidate="novalidate" enctype="multipart/form-data">
              {% csrf_token %}
							<div class="row vertical-gap">
                <div class="col-lg-6 col-md-12">
                  <div class="nk-gap-1"></div>
                  <label for="name">Game Title <span class="text-main-1">*</span>:</label>
                  {{form.name}}
									<div class="nk-gap-1"></div>
                  <div class="row vertical-gap">
                    <div class="col-sm-6">
                      <label for="price">Price <span class="text-main-1">*</span>:</label>
                      {{form.price}}
                    </div>
                    <div class="col-sm-6">
                      <label for="publisher">Publisher <span class="text-main-1">*</span>:</label>
                      {{form.publisher}}
                    </div>
                  </div>
                  <div class="nk-gap-1"></div>
                  <label for="genres">Genres <span class="text-main-1">*</span>:</label>
                  <div class="nano" style="height: 100px; border: 1px solid #303E47;">
										<div class="nano-content "  id="genres" style="padding: 6.5px 10px;">
											{% for genre in genres %}
											<div>
  											<input type="checkbox" name="genres" value="{{ genre.id }}" id="opt_{{genre.id}}"/>
												<label  for="opt_{{genre.id}}">{{genre.name}}</label>
											</div>
											{% endfor %}
										</div>
									</div>
									<div class="nk-gap-1"></div>
                </div>

                <div class="col-lg-6 col-md-12">
									<div class="nk-gap-1"></div>
                  <label for="description">Description <span class="text-main-1">*</span>:</label>
                  {{form.description}}
                  <div class="nk-gap-1"></div>
									<input type="file" name="game_file" id="game_file">
									<div class="nk-gap-1"></div>
                </div>
              </div>
							<input class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn" type="submit" value="Upload Game" >
            </form>
            <div class="nk-gap"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tabs-1-4">
            <div class="nk-gap"></div>
            <div class="table-responsive">
              <table class="nk-table nk-table-sm">
                <thead class="thead-default">
                  <tr>
                    <th class="nk-product-cart-title">Product</th>
                    <th class="nk-product-cart-total">Customer</th>
                    <th class="nk-product-cart-total">Date</th>
                    <th class="nk-product-cart-total">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                  <tr>
                    <td class="nk-product-cart-title">
                      <a href="{% url 'store-product' transaction.game.id %}">{{transaction.game.name}}</a>
                    </td>
                    <td class="nk-product-cart-total">
                      <a href="{% url 'profile' transaction.customer.id %}">{{transaction.customer.profile.full_name}} ({{transaction.customer.username}})</a>
                    </td>
                    <td class="nk-product-cart-total">
                      {{transaction.created|date:"d, F, y"}}
                    </td>
                    <td class="nk-product-cart-total">
                      Rp. {{transaction.game.price}}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="nk-gap"></div>
          </div>
        </div>
      </div>
      <!-- END: Tabs -->
    </div>
  </div>
</main>
{% endblock content %}
