{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="nk-main">
  <div class="nk-gap-2"></div>
  <div class="container">
    <!-- START: Breadcrumbs -->
    {% include 'base/breadcrumbs_component.html' %}
    <!-- END: Breadcrumbs -->
    <!--START: Recent Updates-->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Developer</span> Profile</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">
      <div class="col-lg-12">
        <div class="nk-box-2 bg-dark-2">
          <div class="row nk-blog-post-border-bottom">
            <div class="col-lg-3 d-flex justify-content-center align-items-center col-md-3 my-4">
              <img src="{{ profile.profile_pic.url }}" alt="Profile" class="rounded-circle w-100">
            </div>
            <div class="col-lg-9 col-md-9">
              <h1 class="text-main-1">{{profile.user.developer.developer_name}}</h1>
              <h3>{{profile.user.username}}</h3>
              <p>Joined on, {{profile.user.date_joined}}</p>
              {% if curUser == profile.user %}
              <a href="{% url 'profile-edit' %}" class="nk-btn nk-btn-sm nk-btn-rounded nk-btn-color-white">Edit Profile</a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <h3>About Us</h3>
            <p class="text-white">{{profile.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--END: Recent Updates-->
    <!-- START: Latest News -->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Manage</span> Games</span></h3>
    <div class="nk-gap"></div>
    <div class="container">
      <!-- START: Tabs  -->
      <div class="nk-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">Upload Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">Pending Approval</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
            <div class="nk-gap"></div>
            <!--START: Game List-->
            <div class="nk-news-box">
              <div class="nk-news-box-list">
								<div class="nano has-scrollbar">
									<div class="nano-content">
										{% for game in games %}
										<div class="nk-news-box-item nk-news-box-item-active">
											<div class="nk-news-box-item-img">
												<img src="{% static 'assets/images/post-1-sm.jpg' %}" alt="Smell magic in the air. Or maybe barbecue">
											</div>
											<img src="{% static 'assets/images/post-1.jpg' %}" alt="Smell magic in the air. Or maybe barbecue" class="nk-news-box-item-full-img">
											<h3 class="nk-news-box-item-title">{{game.name}}</h3>
											<span class="nk-news-box-item-categories">
											{% if game.verified %}
											<span class="bg-main-1">Verified</span>
											{% else %}
											<span class="bg-main-6">Not Verfied</span>
											{% endif %}
											</span>
											<div class="nk-news-box-item-text">
												<div>
													<p>{{game.description}}</p>
													<strong>Genres</strong>: <a href="#">{{game.genres.first}}</a>{% for genre in game.genres.all|slice:"1:" %}, <a href="#">{{genre.name}}</a>{% endfor %} 
												</div>
											</div>
											<a href="{% url 'store-product' game.id %}" class="nk-news-box-item-url">View In Store</a>
											<a href="{% url 'store-product' game.id %}" class="nk-news-box-item-url">Edit</a>
											<div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> {{game.created|date:"F d, Y"}}</div>
										</div>
										{% endfor %}
									</div>
								</div>
              </div>
              <div class="nk-news-box-each-info">
                <div class="nano">
                  <div class="nano-content">
                    <!-- There will be inserted info about selected news-->
                    <div class="nk-news-box-item-image">
                      <img src="{% static 'assets/images/post-1.jpg' %}" alt="">
                      <span class="nk-news-box-item-categories">
                      <span class="bg-main-4">MMO</span>
                      </span>
                    </div>
                    <h3 class="nk-news-box-item-title">Smell magic in the air. Or maybe barbecue</h3>
                    <div class="nk-news-box-item-text">
                      <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between to-day and yesterday! Now I am friendless and alone...</p>
                    </div>
                    <a href="blog-article.html" class="nk-news-box-item-more">View in Store</a>
                    <span class="mx-1"></span>
                    <a href="blog-article.html" class="nk-news-box-item-more">Update</a>
                    <div class="nk-news-box-item-date">
                      <span class="fa fa-calendar"></span> Sep 18, 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END: Game List-->
            <div class="nk-gap"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
            <div class="nk-gap"></div>
            <form method="POST" class="nk-form" novalidate="novalidate" enctype="multipart/form-data">
              {% csrf_token %}
							<div class="row vertical-gap">
                <div class="col-lg-6">
                  <div class="nk-gap-1"></div>
                  <label for="name">Game Title <span class="text-main-1">*</span>:</label>
                  {{form.name}}
									<div class="nk-gap-1"></div>
                  <div class="row vertical-gap">
                    <div class="col-sm-6">
                      <label for="name">Price <span class="text-main-1">*</span>:</label>
                      {{form.price}}
                    </div>
                    <div class="col-sm-6">
                      <label for="price">Publisher <span class="text-main-1">*</span>:</label>
                      {{form.publisher}}
                    </div>
                  </div>
                  <div class="nk-gap-1"></div>
                  <label for="country-sel">Genres <span class="text-main-1">*</span>:</label>
                  {{form.genres}}
                </div>
                <div class="col-lg-6">
                  <label for="address">Description <span class="text-main-1">*</span>:</label>
                  {{form.description}}
                  <div class="nk-gap-1"></div>
									<input type="file" name="game_file" id="game_file">
									<div class="nk-gap-1"></div>
                </div>
              </div>
							<input class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn" type="submit" value="Upload Game" >
            </form>
            <div class="nk-gap"></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
            <div class="nk-gap"></div>
            <p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the, for brevity sake, omitted much moredown.</p>
            <div class="nk-gap"></div>
          </div>
        </div>
      </div>
      <!-- END: Tabs -->
    </div>
  </div>
</main>
{% endblock content %}
