{% extends 'main.html' %}

{% block content %}

<div class="container m-auto mt-4">
    <div class="row ">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://media.suara.com/pictures/653x366/2018/10/11/49468-minecraft.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">ManeKraft</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.gamereactor.asia/media/70/elderscrolls5_3557043.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Skuyrim</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn1-production-images-kly.akamaized.net/CQTOdGi7RDdwhQsR6a4ctbKtgDY=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3900342/original/024606200_1641884424-Elden_Ring_Steam.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Elder Ling</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chess_board_opening_staunton.jpg/800px-Chess_board_opening_staunton.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ches</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://media.suara.com/pictures/653x366/2018/10/11/49468-minecraft.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">ManeKraft</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.gamereactor.asia/media/70/elderscrolls5_3557043.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Skuyrim</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn1-production-images-kly.akamaized.net/CQTOdGi7RDdwhQsR6a4ctbKtgDY=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3900342/original/024606200_1641884424-Elden_Ring_Steam.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Elder Ling</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chess_board_opening_staunton.jpg/800px-Chess_board_opening_staunton.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ches</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://media.suara.com/pictures/653x366/2018/10/11/49468-minecraft.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">ManeKraft</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://www.gamereactor.asia/media/70/elderscrolls5_3557043.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Skuyrim</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn1-production-images-kly.akamaized.net/CQTOdGi7RDdwhQsR6a4ctbKtgDY=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3900342/original/024606200_1641884424-Elden_Ring_Steam.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Elder Ling</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chess_board_opening_staunton.jpg/800px-Chess_board_opening_staunton.jpg">
                <div class="card-body">
                    <h4 class="card-title">Ches</h4>
                    <p>Rp. 314.000</p>
                    <a href="#" class="btn btn-danger rounded-end text-center ">Buy</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">Add to Wishlist</a>
                    <a href="#" class="btn btn-primary rounded-end text-center ">View</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
