{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="nk-main">
  <div class="nk-gap-1"></div>
  <div class="container">
    <ul class="nk-breadcrumbs">
      <li><span>Sign In</span></li>
    </ul>
  </div>
  <div class="nk-gap-1"></div>
  <div class="container">
    <!-- START: Forums List -->
    <div class="modal-body bg-dark-2 ">
      <div class="nk-gap-2"></div>
      <form action="" method="POST" class="nk-form text-white" novalidate="novalidate" _lpchecked="1">
        {% csrf_token %}
        <div class="row vertical-gap">
					<div class="col-md-4"></div>
          <div class="col-md-4">
						<label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username" class=" form-control" autocomplete="off" id="username">
						<div class="nk-gap-1"></div>
						<label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password" class="required form-control" autocomplete="off" id="password">
						<div class="nk-gap-1"></div>
						<input class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block" type="submit" value="Sign In" >
						<div class="nk-gap-2"></div>
						<div class="nk-gap-2"></div>
						<div class="">
							<small><a href="#">Forgot your password?</a></small>
							<br>
							<small><a href="{% url 'register' %}">Not a member? Sign up</a></small>
						</div>
          </div>
          
          <div class="col-md-4"></div>
        </div>
      </form>
      <div class="nk-gap-3"></div>
    </div>
  </div>
</main>
{% endblock content %}
