{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="nk-main">
  <div class="nk-gap-2"></div>
  <div class="container">
    <!-- START: Breadcrumbs -->
    {% include 'base/breadcrumbs_component.html' %}
    <!-- END: Breadcrumbs -->
    <div class="row vertical-gap">
			<div class="col-lg-7">
				<h3 class="text-main-1">Tabs</h3>
				<div class="nk-gap"></div>
				<!-- START: Tabs  -->
				<div class="nk-tabs">
						<!--
								Additional Classes:
										.nav-tabs-fill
						-->
						<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
										<a class="nav-link" href="#tabs-1-1" role="tab" data-toggle="tab" aria-selected="false">Tab 1</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab" aria-selected="false">Tab 2</a>
								</li>
								<li class="nav-item">
										<a class="nav-link active show" href="#tabs-1-3" role="tab" data-toggle="tab" aria-selected="true">Tab 3</a>
								</li>
						</ul>
						<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade" id="tabs-1-1">
										<div class="nk-gap"></div>
										<p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the, for brevity sake, omitted much moredown.</p>
										<p>And she went on planning to herself how she would manage it. 'They must go by the carrier' she thought; and how funny it'll seem And she went on planning to herself how</p>
										<div class="nk-gap"></div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
										<div class="nk-gap"></div>
										<p>And she went on planning to herself how she would manage it. 'They must go by the carrier' she thought; and how funny it'll seem And she went on planning to herself how</p>
										<div class="nk-gap"></div>
								</div>
								<div role="tabpanel" class="tab-pane fade active show" id="tabs-1-3">
										<div class="nk-gap"></div>
										<p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the, for brevity sake, omitted much moredown.</p>
										<div class="nk-gap"></div>
								</div>
						</div>
				</div>
				<!-- END: Tabs -->
			</div>
		</div>
  </div>
</main>
{% endblock content %}
