{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="nk-main">
  <!-- START: Breadcrumbs -->
  {% include 'base/breadcrumbs_component.html' %}
  <!-- END: Breadcrumbs -->
  <div class="container">
    <div class="nk-store nk-store-checkout">
      <h3 class="nk-decorated-h-2"><span class="text-main-1">{{curUser.username}}</span></h3>

      <div class="nk-gap"></div>
      <form action="" method="POST" class="nk-form" enctype="multipart/form-data">
        {% csrf_token %}
				<div class="row vertical-gap nk-box-1 bg-dark-2 d-flex">
          <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
            <div>
              <img id="preview" src="{{ curUser.profile.profile_pic.url }}" alt="Profile" class="kuzza-3">
            </div>
            <div>{{form.profile_pic}}</div>
            <div class="nk-gap-2"></div>
          </div>
					<div class="col-lg-8">
						{% for field in form.getAllExceptPic %}
						<div>
              <label for="{{field.attrs.id}}">{{field.label}}:</label>
							<br>
              {{field}}
              <div class="nk-gap-1"></div>
						</div>
						{% endfor %}
            {% if 'developer' in userGroups %}
            <label for="developer_name">Developer Name</label>
            <input type="text" maxlength="200" name="developer_name" class="required form-control" id="developer_name" required value="{{curUser.developer.developer_name}}">
            {% endif %}
            <div class="nk-gap-2"></div>
            <input class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn" type="submit" value="Save Profile" >
            <a href="{% url 'profile' curUser.id %}" class="ml-5 nk-btn nk-btn-rounded nk-btn-color-main-1">Cancel</a>
          </div>
          
        </div>
      </form>
    </div>
  </div>
    
</main>
<script>
  profile_pic.onchange = evt => {
    const [file] = profile_pic.files
    if (file) {
      preview.src = URL.createObjectURL(file) 
    }
  }
</script>
{% endblock content %}