{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="nk-main">
  <!-- START: Breadcrumbs -->
  {% include 'base/breadcrumbs_component.html' %}
  <!-- END: Breadcrumbs -->
  
  <div class="container">
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Results for</span> "{{searchQuerry}}"</span></h3>
    <div class="nk-gap"></div>
    <!-- START: Products Filter -->
    <div class="row vertical-gap">
      <div class="col-lg-8">
        <form action="{% url 'store-search' %}" class="nk-form nk-form-style-1" novalidate="novalidate">
          <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="Type something..." value="{{ searchQuerry }}" style="font-size: 1.31em;">
            <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-1-1-heading">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">
              Category Menu <span class="panel-heading-arrow fa fa-angle-down"></span>
              </a>
            </div>
            <div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-1-1-heading">
              {% include 'base/sidebar-categories_component.html' %}
            </div>
          </div>
        </div>      
      </div>
    </div>
    <!-- END: Products Filter -->
    <div class="nk-gap-2"></div>
    <!-- START: Products -->
    <div class="row vertical-gap">
      {% if games %}
        {% for game in games %}
        <div class="col-sm-6">
          <div class="nk-product-cat-2">
            <a class="nk-product-image" href="{% url 'store-product' game.id %}">
            <img src="{% static 'assets/images/product-1-md.jpg' %}" alt="{{game.name}}">
            </a>
            <div class="nk-product-cont">
              <h3 class="nk-product-title h5"><a href="{% url 'store-product' game.id %}">{{ game.name }}</a></h3>
              <div class="nk-gap-1"></div>
              {% include 'base/star-rating_component.html' %}
              <div class="nk-gap-1"></div>
              {{ game.description|slice:":140" }} . . .
              <div class="nk-gap-2"></div>
              <div class="nk-product-price">Rp. {{ game.price }}</div>
              <div class="nk-gap-1"></div>
              <div class="d-flex">
                {% if game in curUser.customer.myGames.all %}
                  <a href="{% url 'mygames' %}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Open My Games</a>
                  {% else %}
                  <a href="{% url 'addToList' 'wishlist' game.id %}" class="nk-btn nk-btn-sm nk-btn-rounded nk-btn-color-white px-2">
                    <img src="{% static 'assets/images/heart-icon.png'%}" class="pict-icon" alt="">
                  </a>
                  <span class="mx-1"></span>
                  <a href="{% url 'addToList' 'cart' game.id %}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <div class="col-lg-12">
        <p>No Results found.</p>
      </div>
      {% endif %}
      
    </div>
    <!-- END: Products -->

    <!-- START: Most Popular -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Most</span> Popular</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">
      {% for game in popular %}
      <div class="col-lg-4 col-md-6">
        <div class="nk-product-cat">
          <a class="nk-product-image" href="{% url 'store-product' game.id %}">
          <img src="{% static 'assets/images/product-11-xs.jpg' %}" alt="{{game.name}}">
          </a>
          <div class="nk-product-cont">
            <h3 class="nk-product-title h5"><a href="store-product.html">{{game.name}}</a></h3>
            <div class="nk-gap-1"></div>
            {% include 'base/star-rating_component.html' %}
            <div class="nk-gap-1"></div>
            <div class="nk-product-price">Rp. {{game.price}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- END: Most Popular -->
  </div>
  <div class="nk-gap-2"></div>  
</main>

{% endblock content %}
