{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="nk-main">
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
            <ul class="nk-breadcrumbs">
    
                <li><a href="index.html">Home</a></li>
                <li><span class="fa fa-angle-right"></span></li>
                <li><span>Store</span></li>
                
            </ul>
    </div>
    <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->

    <div class="container">
        <div class="nk-gap-2"></div>
        
        <div class="row vertical-gap">
            {% for game in games %}
            <div class="col-md-6 col-lg-4">
                <div class="nk-gallery-item-box">
                    <a href="{% url 'store-product' game.id %}" class="nk-gallery-item">
                        <span class="nk-gallery-item-overlay"><span><span class="nk-icon-circles"></span></span></span>
                        <img src="{% static 'assets/images/product-4-lg.jpg' %}" alt="{{game.name}}">
                    </a>
                    <div class="nk-gallery-item-label">
                        <h4 class="mb-0">{{game.name}}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
            
        </div>
    </div>

    <div class="nk-gap-2"></div>
   
</main>
{% endblock content %}
