{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="nk-main">
  <!-- START: Breadcrumbs -->
  {% include 'base/breadcrumbs_component.html' %}
  <!-- END: Breadcrumbs -->
  <div class="container">
    <!-- START: Image Slider -->
		<h3>Our Highlights</h3>
    <div class="nk-image-slider" data-autoplay="8000">
      {% for game in highlights %}
			<div class="nk-image-slider-item">
        <img src="{% static 'assets/images/slide-1.jpg' %}" alt="" class="nk-image-slider-img" data-thumb="{% static 'assets/images/slide-1-thumb.jpg' %}">
        <div class="nk-image-slider-content">
          <h3 class="h4">{{game.name}}</h3>
          <p class="text-white">{{game.description|slice:":140"}}</p>
          <a href="{% url 'store-product' game.id %}" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Read More</a>
        </div>
      </div>
			{% endfor %}
    </div>
    <!-- END: Image Slider -->
    <!-- START: Categories -->
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
      <div class="col-lg-4">
        <div class="nk-feature-1">
          <div class="nk-feature-icon">
            <img src="{% static 'assets/images/icon-mouse.png' %}" alt="Point and Click">
          </div>
          <div class="nk-feature-cont">
            <h3 class="nk-feature-title"><a href="{% url 'store' %}?q=Point and Click">Point & Click</a></h3>
            <h3 class="nk-feature-title text-main-1"><a href="{% url 'store' %}?q=Point and Click">View Games</a></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="nk-feature-1">
          <div class="nk-feature-icon">
            <img src="{% static 'assets/images/icon-arcade.png' %}" alt="Arcade">
          </div>
          <div class="nk-feature-cont">
            <h3 class="nk-feature-title"><a href="{% url 'store' %}?q=Arcade">Arcade</a></h3>
            <h3 class="nk-feature-title text-main-1"><a href="{% url 'store' %}?q=Arcade">View Games</a></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="nk-feature-1">
          <div class="nk-feature-icon">
            <img src="{% static 'assets/images/icon-amogus.png' %}" alt="">
          </div>
          <div class="nk-feature-cont">
            <h3 class="nk-feature-title"><a href="{% static 'assets/images/meme.png' %}">Amogus</a></h3>
            <h3 class="nk-feature-title text-main-1"><a href="{% static 'assets/images/meme.png' %}">View Games</a></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Categories -->
    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
      <div class="col-lg-8">
        <!-- START: Products -->
        <div class="row vertical-gap">
          {% for game in games %}
          <div class="col-md-6">
            <div class="nk-product-cat">
              <a class="nk-product-image" href="{% url 'store-product' game.id %}">
              <img src="{% static 'assets/images/product-1-xs.jpg' %}" alt="{{game.name}}">
              </a>
              <div class="nk-product-cont">
                <h3 class="nk-product-title h5"><a href="{% url 'store-product' game.id %}">{{game.name}}</a></h3>
                <div class="nk-gap-1"></div>
                {% include 'base/star-rating_component.html' %}
                <div class="nk-gap-1"></div>
                <div class="nk-product-price">Rp. {{game.price}}</div>
                <div class="nk-gap-1"></div>
                <div class="  ">
                  {% if game in curUser.customer.myGames.all %}
                  <a href="{% url 'mygames' %}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Open My Games</a>
                  {% else %}
                  <a href="{% url 'addToList' 'wishlist' game.id %}" class="nk-btn nk-btn-sm nk-btn-rounded nk-btn-color-white px-2">
                    <img src="{% static 'assets/images/heart-icon.png'%}" class="pict-icon" alt="">
                  </a>
                  <span class="mx-1"></span>
                  <a href="{% url 'addToList' 'cart' game.id %}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1 px-lg-2 px-xl-4 ">Add to Cart</a>
                  {% endif %}
                </div>
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- END: Products -->
      </div>
      <div class="col-lg-4">
        {% include 'base/sidebarsocials_component.html' %}
      </div>
      
    </div>
  </div>
</main>
{% endblock content %}
